<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>جميع الحجوزات</title>
    <link rel="stylesheet" href="/static/style11.css">
</head>
<body>
    <div class="bookings-container container">
        <h2>جميع الحجوزات</h2>
        <a href="/logout" class="logout-button">تسجيل الخروج</a>
        <ul class="bookings-list">
            {% for b in bookings %}
                <li>{{ b.name }} - {{ b.date }} - {{ b.appointment }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
