<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>تسجيل الدخول</title>
    <link rel="stylesheet" href="/static/style11.css">
</head>
<body>
    <div class="login-container container">
        <h2>تسجيل الدخول كأدمن</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <label>اسم المستخدم</label>{{ form.username }}
            <label>كلمة السر</label>{{ form.password }}
            {{ form.submit }}
        </form>
    </div>
</body>
</html>
